body {
  min-height: 606px;
  min-width: 960px;

  display: flex;
  flex-flow: column;

  background-color: #555555;

  font-family: "Calibri Light";
  color: white;
}

.header {
  height: 250px;
  width: 960px;
  margin: auto;
  margin-bottom: 15px;
  margin-top: 0px;

  background: linear-gradient(360deg, rgba(35, 35, 35, .7), rgba(28, 28, 28, .7)), url("header.jpg") ;
  background-size: cover;

  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}

.btn-search {
  height: 41.33px;
  text-transform: uppercase;
  background-color: #F65261;
  border: none;
  border-radius: 2px;
  color: white;
  cursor: pointer;
  flex-basis: 20%;
}

.header input {
  height: 30px;
  margin-right: 30px;
  padding: 5px 20px;
  background: linear-gradient(rgba(28,28,28, 0.5), rgb(05,05,05));
  color: white;
  border: none;
  border-radius: 2px;
  flex-basis: 50%;
}

.main {
  background-color: #232323;
  width: 880px;
  margin: auto;
  margin-top: 0px;
  padding: 0px 40px;
}

.filter {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  min-height: 45px;
  padding-top: 15px;
  color: white;
  text-transform: uppercase;
}

.genres-list {
  display: flex;
  flex-flow: row nowrap;
  flex-basis: 50%;
  justify-content: space-between;
  min-height: 45px;
  padding-top: 15px;
  padding-left: 20px;
}

.sort {
  flex-basis: 50%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  padding-top: 15px;
  padding-right: 20px;
}

.sort-wrapper{
  display: flex;
  cursor: pointer;
}

.dropdown {
  cursor: pointer;
  position: absolute;
  z-index: 1;
  background-color: #232323;
  padding: 5px;
  border: 1px solid white;
  list-style-type: none;
  margin-right: 25px;
  margin-top: -5px
}

.selected-option {
  margin-left: 25px;
  flex-basis: 100px;
  cursor: pointer;
}

.genres-list div {
  cursor: pointer;
}

.movies-list {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 880px;
  justify-content: space-between;
}

.movie {
  height: 450px;
  flex-basis: 250px;
  margin: 20px;
}

.movie:last-child {
  margin-right: auto;
}

.movie img {
  width: 250px;
  height: 375px;
  background: url("no-poster.jpg");
  background-size: cover;
}

.info {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.info p {
  margin: 0px;
  color: white;
}

.title {
  font-size: 95%;
  flex-basis: 70%;
}

.movie-genres, .date {
  font-size: 70%;
}

.date {
  border: 1px solid white;
  border-radius: 2px;
  padding: 2px 5px;
  height: min-content;
}

.movie-genres {
  flex-basis: 100%;
}

.no-results {
  min-height: 200px;
  padding-top: 20px;
}

.arrow {
  border: solid #F65261;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  margin: 0px 10px;
  cursor: pointer;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.pagination-wrapper {
  display: flex;
  margin-bottom: 20px;
  flex-direction: column;
}

.pagination {
  display: flex;
  flex-flow: row nowrap;
  margin: auto;
}

.pagination-button {
  cursor: pointer;
  padding: 3px 10px 6px 10px;
  background-color: #232323;
  border: 1px solid white;
  border-radius: 2px;
  margin-right: 10px;
  color: white;
}

.pagination-button:last-child {
  margin-right: 0px;
}

.pagination-block {
  display: flex;
  margin-right: 10px;
}

.size-wrapper {
  display: flex;
  flex-flow: row;
  margin: 20px auto;
}

.size {
  margin-left: 20px;
}

.current {
  background-color: #F65261;
  color: black;
}

.total {
  margin-left: 20px;
  padding-top: 20px;
  font-size: 120%;
}